.artists{
   display: flex;
   overflow-y: hidden;
   overflow-x: scroll;
   color: white;
   margin-top: 10px;
   margin-left: 20px;
}
.artist-card{
    min-width: 140px;
    height: 150px;
    font-size: small;
    margin-right: 10px;
    
}
.artist-img{
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.artists::-webkit-scrollbar{
    display: none;
}
.artist-top{
    display: flex;
    justify-content: space-between;
}
.artist-top i{
    color: white;
    margin-right: 4px;
}